#container {
  width: 400px;
  height: 300px;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  width: 100px;
  border-radius: 20px;

  border: none;
  display: block;
}
.btn:focus {
  box-shadow: 4px 4px 4px black;
  transition: all 0.1s;
}

.btn {
  text-transform: uppercase;
}

#container .btn {
  color: coral;
}
.selecionado {
  border: 2px dotted red;
}
a {
  border-radius: 10px;
  padding: 10px;
  background-color: gold;
  display: block;
}

#pai {
  padding: 40px;
  background-color: burlywood;
}
#pai .btn {
  font-weight: bold;
}
#container2 .btn {
  font-size: 18px;
}

#container #pai .btn {
  padding: 10px;
}
#container2 #button2 {
  background-color: chartreuse;
}

.btn1.btn {
  cursor: pointer;
}
